.faqs-container {
    background-color: #F3ECDA;
    padding: 10vw;
}

.faqs-container h2 {
    font-size: 4rem;
    text-align: center;
    font-weight: bold;
    margin-top: 0;
    color: #2F3F5E;
}

.faqs-inner-container {
    background-color: #FCF5E3;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 10vw;
    padding-top: 5vw;
}

.faqs-question-card-row {
    display: flex;
    justify-content: space-between;
}