.faqs-container {
    background-color: #F3ECDA;
    padding: 10vw;
}

.faqs-container h2 {
    font-size: 4rem;
    text-align: center;
    font-weight: bold;
    margin-top: 0;
    color: #2F3F5E;
}

.faqs-inner-container {
    background-color: #FCF5E3;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 10vw;
    padding-top: 5vw;
}

.faqs-question-card-row {
    display: flex;
    justify-content: space-between;
}

.faqs-question-card-row button {
    background: #272727;
    border: none;
    cursor: pointer;
    align-content: center;
    color: #FCF5E3;
    width: 225px;
    height: 270px;
    border-radius: 10px;
    box-shadow: 5px 4px 4px 0px rgba(0, 0, 0, 0.25);
}