.faqs-container {
    background-color: #F3ECDA;
}

.faqs-container h2 {
    font-size: 4rem;
    text-align: center;
    font-weight: bold;
    margin-top: 0;
    color: #2F3F5E;
}

.faqs-border-square {
    box-sizing: border-box;
    border: 12px solid #FCF5E3;
    border-radius: 24px;
}

.faqs-top-border {
    display: flex;
    flex-direction: row;
    width: 100vw;
}

.faqs-middle-container {
    display: flex;
    flex-direction: row;
}

.faqs-side-border {
    display: flex;
    flex-direction: column;
    background-color: #F3ECDA;
}

.faqs-inner-container {
    background-color: #FCF5E3;
    padding: 5vh 10vw;
    width: 100%
}

.faqs-question-card-row {
    display: flex;
    justify-content: space-between;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
}